*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
#page{
    padding: 10px auto 20px;
    margin: 10px 15px;
    background-color: orange;
    color: maroon;
    height: 100vh;

}
.nav{
    display: flex;
    gap:20px;
    justify-content: end;
    align-items: center;
    list-style: none;
    color: black;
}
img{
    margin: 5px;
    padding: 15px;
    border-radius: 50%;
}
.btn{
    display: flex;
    justify-content: center;
}